* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #c7ccd6;
  color: rgb(17, 13, 13);
}

.nav {
  display: flex;
  padding: 30px;
  position: sticky;
  top: 0;
  background: #0d101b;
  font-size: 24px;
}

.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
   right: 20px;
 position: absolute;
  top: 14px;
  transition: transform 0.3s;
}
.nav li:hover{
  transform: translateY(-5px);
  background-color: gray;
  padding:5px;
}
.nav h2{
 left: 2px;;
 position: absolute;
 top: 10px;
}
.nav a {
  text-decoration: none;
  color: white;
}

.hero {
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background-image: 
    linear-gradient(
      rgba(15, 23, 42, 0.85),
      rgba(15, 23, 42, 0.85)
    ),
    url("./assets/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}
.section {
  padding: 80px 60px;
  text-align: center;
}

.exper{
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom:60px ;
}
.course{
  text-align: center;
  background-color: #242d4b;
  padding: 20px;
  margin: 10px;
  color:white;
  border-radius: 10px;
   transition: transform 0.3s;
   display: block;
}
.course:hover{
  transform: translateY(-10px);
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
 
}

.card {
  background: #1a2142;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
   display: block;
  color: white;
  text-decoration: none;

}

.card:hover {
  transform: translateY(-10px);
}


img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit:cover;
  border: 2px solid #007bff;
  transition:transform 0.4s ease;
 
}
img:hover{
  transform:scale(1.2);
}

.media{
  display: flex;
  justify-content: center;
  align-items: center;
 gap:30px;
}

.icon {
  display:block;
  transition: transform 0.4s ease;
}

.icon:hover {
  transform: scale(1.4);
}


@media screen and (max-width:481px){

.nav ul{
  gap:10px;
  font-size: 14px;
  top: 24px;

}
.nav h2{
  font-size: 19px;
  top: 24px;
}
  
}

@media screen and (min-width:488px){
  .nav ul{
  gap:20px;
  font-size: 19px;
  top: 24px;

}
.nav h2{
  font-size: 20px;
  top: 24px;
}

}

@media screen and (min-width:670px){
  .nav ul{
  gap:50px;
  font-size: 26px;
  top: 24px;
   right: 40px;

}
.nav h2{
  font-size: 27px;
  top: 24px;
}

}


