* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: #020617;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: white;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background-image: 
    linear-gradient(
      rgba(15, 23, 42, 0.85),
      rgba(15, 23, 42, 0.85)
    ),
    url("./assets/profile.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.section {
  padding: 80px 60px;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
   display: block;
  color: white;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-10px);
}
